<p>PLEASE ENTER YOUR REQUEST DETAILS:</p>

<form  [formGroup]="myForm"  (ngSubmit)="onSubmit()">
    <div  class="requests">
    <label> resource</label>
    <input type="text" formControlName="resource" required><br>
    <label> destination</label>
    <input type="text" formControlName="destination" required><br>
    <label> seats</label>
    <input type="number" formControlName="seats" required><br>
    <label> dateTime</label>
    <input type="datetime" formControlName="dateTime" required><br>
    <!-- <label> price</label>
    <input type="number" formControlName="price" required> -->
    <label> stations</label>
    <input type="text" formControlName="stations" required>
</div>
    <!-- <br/><input type="submit" value="save" >
<br/><input type="button" value="reset" (click)="reset()"> -->
<div class="buttom">
    <button mat-flat-button color="warn" type="submit"(click)="onSubmit()" [disabled]="!myForm.valid" >SAVE</button><br>
   
    <button mat-flat-button color="warn" (click)="reset()"> RESET</button>

  </div>

<p *ngIf="!myForm.valid&&myForm.dirty">Missing details in form  </p>

</form>
<div *ngIf=!offerList=null>
<button *ngFor="let offer of offerList" (click)="onClick(offer.id)" ></button>
</div>