<div class="form-wrapper-large">
    <h1> הסטוריית הבקשות שלי</h1>

   
    <table class="table table-striped" *ngIf="requests && requests.length > 0; else noContent">
        <thead>
            <tr>
                <th>מקור</th>
                <th>יעד</th>
                <th>תאריך ושעה</th>
                <th>מספר מקומות</th>
                <th>פרטי נהג</th>
               
        </thead>
        <tbody>

            <tr *ngFor="let req of requests">

                <td>{{req.resourse}}</td>
                <td> {{req.destination}}</td>
                <td> {{req.date_time | date:"dd/MM/yyyy HH:mm"}}</td>
                <td> {{req.seats}}</td>

                price
                <td> {{req.driver != null? (req.driver.username + ', ' + req.driver.phone+ ', ' + req.driver.mail) : ''}} </td>
              
            </tr>
        </tbody>
    </table>

    <ng-template #noContent>
        <h2>לא נמצאו בקשות</h2>
    </ng-template>
</div>